
@font-face {
	font-family:"Defused";
	src:
	url("/fonts/defused.eot") format("eot"),
	url("/fonts/defused.woff") format("woff"),
	url("/fonts/defused.ttf") format("truetype"),
	url("/fonts/defused.svg#Defused") 
	format("svg");font-weight:normal;font-style:normal;
}

.csv-import {

	textarea {
		width: 100%;
		min-height: 600px;
	}
}