@font-face {
	font-family:"Defused";
	src:
	url("/fonts/defused.eot") format("eot"),
	url("/fonts/defused.woff") format("woff"),
	url("/fonts/defused.ttf") format("truetype"),
	url("/fonts/defused.svg#Defused-ExtendedBold") 
	format("svg");font-weight:normal;font-style:normal;
}

// Print Styles
$card-border-size: 1px;


@media all {
	.page-break	{
		display: none;
	}
}

@media print {
	.page-break	{
		display: block;
		page-break-after: always;
	}

	body {
		margin: 0;
	}

}

.cardItem {
	display: inline-flex; //its like a block, but it floats and breaks for printing!
	// font-size: 0;
	margin-top: -$card-border-size; // to overlap borders
	margin-right: -$card-border-size; // to overlap borders
	margin-left: auto;
	margin-bottom: auto;
	z-index: 99999999;
	position: relative;

	.card {
		position: absolute;
		top: 0;
		left: 0;
		border: $card-border-size solid red;
		margin: 0;
		width: 2.5in;
		height: 3.5in;
		overflow: hidden;
  		background-size: cover;


		.cardContent {
			position: relative;
			top: 50%;
			left: 0;
			padding: 0 6% 6% 6%;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			font-size: 15px;
			color: black !important;

			h2 {
				margin-top: 0;
				font-size: 18px;
			}
		}

		.hint {
			position: absolute;
			top: 6%;
			left: 10%;
			margin: 0;
		}
	}
}


@media print {
	.doNotPrint {
		display: none;
	}
}




// COLAPSO 

.card-colapso {
		width: 2.5in;
		height: 3.5in;
		overflow: hidden;
		position: relative;
		z-index: -999999;
		img {
			max-width: 100%;
		}
}

.nombre-carta {
	font-family: Defused;
	color: #fff !important;
	font-size: 20px;
	text-shadow: 0px 0px 37px rgba(0, 0, 0, 1);
	position: relative;
	top: 15px;
	left: 16px;
}

.texto-carta {
	position: relative;
	top: 200px;
	left: 12%;
}

